<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMonederosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mobipayservice.apphb.com/MonederosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonederosService"
                contract="MonederoService.IMonederosService" name="BasicHttpBinding_IMonederosService" />
        </client>
    </system.serviceModel>
</configuration>